.formWrapper {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 40px;
}

.passwordWrapper {
    position: relative;
}

.passwordButton {
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
}

.passwordIcon {
    fill: transparent;
    stroke: var(--black);
}