@import 'styles/mixins';

.imageWrapper {
    position: relative;
    display: inline-flex;
}

.image {
    width: 100%;
    border-radius: 10px;
    margin: 0 auto;
}

.imageLabel {
    position: absolute;
    bottom: 10%;
    left: -10px;
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: var(--green);
    border-radius: 20px;
    padding: 14px;

    @include media-rules(desktop) {
        left: -101px;
        bottom: 75px;
        padding: 32px;
    }
}

.checkWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background-color: var(--gray);
    border-radius: 13px;
}

.labelText {
    font-size: 12px;
    color: rgba(251, 251, 251, 0.5);
    margin-bottom: 8px;

    @include media-rules(desktop) {
        font-size: 14px;
    }
}

.labelNumber {
    font-weight: 700;
    font-size: 18px;
    color: var(--gray);

    @include media-rules(desktop) {
        font-size: 24px;
    }
}

